<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF" monitorInterval="3600">  
	<properties>
		<property name="LOG_HOME">/home/ddsc/local/var/ddsc_log</property>
		<property name="SERVER_NAME">ddsc_pay</property>
		<property name="BACKUP_HOME">backup</property>
		<property name="PERFORMANCE_NAME">performance</property>
		<property name="EXCEPTION_NAME">exception</property>
		<property name="SYSTEMLOG_NAME">systemlog</property>
		<property name="KUAIQIANLOG_NAME">kuaiqianlog</property>
		<property name="BAOFOO_NAME">baofoolog</property>
		<property name="SHENGFUTONGLOG_NAME">shengfutonglog</property>
		<property name="PAYSUCCESSLOG_NAME">paysuccesslog</property>
		<property name="ONCURRENTLOG_NAME">concurrentlog</property>
		<property name="TASK_LOG">tasklog</property>
		<property name="SQLLOG_NAME">sqlLog</property>
		<property name="CHINAPAYPCLOG_NAME">chinapaypcLog</property>
		<property name="BAOFOOPCLOG_NAME">baofoopcLog</property>
		<property name="KUAIQIANPCLOG_NAME">kuaiqianpcLog</property>
		<property name="BAOFOODFLOG_NAME">baofoodfLog</property>
		<property name="KUAIQIANDFLOG_NAME">kuaiqiandfLog</property>
	</properties>
	<appenders>  
		<Console name="Console" target="SYSTEM_OUT">  
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>  
		</Console>
		<RollingFile name="${SERVER_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${SERVER_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${SERVER_NAME}/${SERVER_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${PERFORMANCE_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${PERFORMANCE_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${PERFORMANCE_NAME}/${PERFORMANCE_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${EXCEPTION_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${EXCEPTION_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${EXCEPTION_NAME}/${EXCEPTION_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${SYSTEMLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${SYSTEMLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${SYSTEMLOG_NAME}/${SYSTEMLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${KUAIQIANLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${KUAIQIANLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${KUAIQIANLOG_NAME}/${KUAIQIANLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${BAOFOO_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${BAOFOO_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${BAOFOO_NAME}/${BAOFOO_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${SHENGFUTONGLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${SHENGFUTONGLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${SHENGFUTONGLOG_NAME}/${SHENGFUTONGLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${PAYSUCCESSLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${PAYSUCCESSLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${PAYSUCCESSLOG_NAME}/${PAYSUCCESSLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${ONCURRENTLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${ONCURRENTLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${ONCURRENTLOG_NAME}/${ONCURRENTLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<!-- <DefaultRolloverStrategy max="20"/> -->
		</RollingFile>
		<RollingFile name="${TASK_LOG}" fileName="${LOG_HOME}/${SERVER_NAME}/${TASK_LOG}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${TASK_LOG}/${TASK_LOG}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="${SQLLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${SQLLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${SQLLOG_NAME}/${SQLLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="${CHINAPAYPCLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${CHINAPAYPCLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${CHINAPAYPCLOG_NAME}/${CHINAPAYPCLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="${BAOFOOPCLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${BAOFOOPCLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${BAOFOOPCLOG_NAME}/${BAOFOOPCLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="${KUAIQIANPCLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${KUAIQIANPCLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${KUAIQIANPCLOG_NAME}/${KUAIQIANPCLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="${BAOFOODFLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${BAOFOODFLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${BAOFOODFLOG_NAME}/${BAOFOODFLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
		<RollingFile name="${KUAIQIANDFLOG_NAME}" fileName="${LOG_HOME}/${SERVER_NAME}/${KUAIQIANDFLOG_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}/${BACKUP_HOME}/${KUAIQIANDFLOG_NAME}/${KUAIQIANDFLOG_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBasedTriggeringPolicy size="51200 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</appenders>  
	<loggers>  
		<root level="error">  
			<appender-ref ref="Console"/>
			<appender-ref ref="${SERVER_NAME}"/>
		</root>
		<logger name="org.springframework" level="info" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<logger name="org.apache.zookeeper" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="${SERVER_NAME}"/>
		</logger>
		<logger name="com.alibaba.dubbo" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="${SERVER_NAME}"/>
		</logger>
		<logger name="com.ddsc.model" level="debug" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<AsyncLogger name="performanceLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${PERFORMANCE_NAME}"/>
		</AsyncLogger>
		<AsyncLogger name="exceptionLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${EXCEPTION_NAME}"/>
		</AsyncLogger>
		<AsyncLogger name="systemLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${SYSTEMLOG_NAME}"/>
		</AsyncLogger>
		<AsyncLogger name="com.ddsc.model" level="debug" additivity="false" includeLocation="true">
			<appender-ref ref="${SQLLOG_NAME}"/>
		</AsyncLogger>
		<logger name="kuaiqianLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${KUAIQIANLOG_NAME}"/>
		</logger>
		<logger name="baofooLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${BAOFOO_NAME}"/>
		</logger>
		<logger name="shengfutongLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${SHENGFUTONGLOG_NAME}"/>
		</logger>
		<logger name="paysuccessLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${PAYSUCCESSLOG_NAME}"/>
		</logger>
		<logger name="concurrentLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${ONCURRENTLOG_NAME}"/>
		</logger>
		<logger name="taskLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${TASK_LOG}"/>
		</logger>
		<logger name="chinapaypcLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${CHINAPAYPCLOG_NAME}"/>
		</logger>
		<logger name="baofoopcLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${BAOFOOPCLOG_NAME}"/>
		</logger>
		<logger name="kuaiqianpcLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${KUAIQIANPCLOG_NAME}"/>
		</logger>
		<logger name="baofoodfLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${BAOFOODFLOG_NAME}"/>
		</logger>
		<logger name="kuaiqiandfLog" level="info" additivity="false" includeLocation="true">
			<appender-ref ref="${KUAIQIANDFLOG_NAME}"/>
		</logger>
	</loggers>  
</configuration>